* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,html {
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(255,178,158,1) 55%);
  font-family: 'Love Ya Like A Sister', cursive;
  font-size: 20px;
  color: black;
  height: 100%; 
}

h1, h2 {
display: flex;
justify-content: center;
margin: 20px;

}

#user {
  color: #1ac0c6;
}


.log_out_btn {
  position: absolute;
  top:10%;
  right: 5%;
  font-family: 'Love Ya Like A Sister', cursive;
  font-size: 20px;
  width: 120px;
  padding: 8px;
  border: 1px solid black;
  background-color: #e74645;
  color: white;
  padding: 8px;
  border-radius: 10px;
}

.log_out_btn:hover {
  cursor: pointer;
  background-color: white;
  color: springgreen;
  transition: 0.3s;
}

.product_img_cart {
  width: 100px;
  border-radius: 10px;
  margin: 5px;
}

.product_price_cart {
  border-bottom: #333;
}

#cart_content {
  background-color: #facd60;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;

  padding: 20px;
  border: 1px solid black;
  border-radius: 8px;
  width: 80%;
  display: flex;
  flex-direction: column;
  
}

.add_to_cart_btn {
  border-radius: 8px;
  background-color: greenyellow;
  padding: 6px 12px;
  font-size: 1rem;
  font-family: 'Love Ya Like A Sister', cursive;
  border: 1px solid black;
  cursor: pointer;
  margin-left: 20%;
}

.add_to_cart_btn:hover,
.reg_btn:hover,
.sign_in_btn:hover {
  background-color: dodgerblue;
  color: chartreuse;
  transition: 0.3s;
}

input[type=number] {
  border-radius: 3px;
  border-style: none;
  border: 1px solid black;
  font-size: 1rem;
}

.remove_btn_cart {
  background-color: #e74645;
  border: 1px solid black;
  font-size: 1.1rem;
  font-family: 'Love Ya Like A Sister', cursive;
  padding: 5px 10px;
  border-radius: 8px;
  margin: 5px;
}

.remove_btn_cart:hover {
  cursor: pointer;
}

.row_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;

}

#total {
  font-size: 1.5rem;
  align-self: flex-end;
  margin-top: 15px;
}

#total_sum {
  margin-left: 10px;
}


#users_btn,
#toys_btn {
  display: inline-block;
  background-color: #e74645;
  border: 1px solid black;
  font-size: 1.2rem;
  font-family: 'Love Ya Like A Sister', cursive;
  padding: 5px 10px;
  border-radius: 8px;
  margin: 5px;
}

#users_btn:hover,
#toys_btn:hover {
  cursor: pointer;
  color: azure;
  background-color: transparent;
  transition: 0.4s;
  border-color: azure; box-shadow: 0px 0px 50px 5px #0ff;
}

.wrapper {
  display: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.db_info {
  width: 50%;
display: flex;
justify-content: center;
margin-top: 20px;
margin-bottom: 30px;
}

/* Render toys from database*/
.toy_img {
  width: 70px;
}

.product_name,
.product_price {
  font-size: 20px;
}

table {
  width: 100%;
}

 th, td {
  font-size: 16px;
  border: 1px solid black;
  text-align: center;
  width: 150px;
  height: 70px;
}

th {
  font-size: 20px;
  text-decoration: underline;
}

.update_name_btn,
.remove_btn,
.update_user_btn,
.remove_user_btn {

  display: inline-block;
  background-color: #0ff;
  border: 1px solid black;
  font-size: 1.2rem;
  font-family: 'Love Ya Like A Sister', cursive;
  padding: 5px 10px;
  border-radius: 8px;
  margin: 5px;
}

.remove_btn,
.remove_user_btn {
  background-color: #faf060;
}

.update_name_btn:hover,
.remove_btn:hover,
.update_user_btn:hover,
.remove_user_btn:hover {
  cursor: pointer;
  background-color: transparent;
  transition: 0.3s;
}


input[type=text] {
  font-size: 16px;
  font-family: 'Love Ya Like A Sister', cursive;
  padding: 3px;
  width: 95%;
  border: 1px solid black;
  border-radius: 8px;
  background-color: rgb(197, 246, 206);
}

input[type=text]:hover {
  cursor: pointer;
}

